@font-face {
    font-family: 'FontAwesome';
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Basic Icons';
    src: url('../bower_components/semantic-ui/build/packaged/fonts/basic.icons.eot');
    src: url('../bower_components/semantic-ui/build/packaged/fonts/basic.icons.eot') format('embedded-opentype'),
    url('../bower_components/semantic-ui/build/packaged/fonts/basic.icons.woff') format('woff'),
    url('../bower_components/semantic-ui/build/packaged/fonts/basic.icons.ttf') format('truetype'),
    url('../bower_components/semantic-ui/build/packaged/fonts/basic.icons.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Icons';
    src: url('../bower_components/semantic-ui/build/packaged/fonts/icons.eot');
    src: url('../bower_components/semantic-ui/build/packaged/fonts/icons.eot') format('embedded-opentype'),
    url('../bower_components/semantic-ui/build/packaged/fonts/icons.woff') format('woff'),
    url('../bower_components/semantic-ui/build/packaged/fonts/icons.ttf') format('truetype'),
    url('../bower_components/semantic-ui/build/packaged/fonts/icons.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}